output/
*.o
.vscode/
.vscode
build/
cscope.*
.auto_cscope_ctags/
compile_commands.json
*.swp
tags
tags.files
*ccls-cache*
*.pyc
CMakeFiles/
*.cmake
CMakeCache.txt
.editorconfig
.vscode/*
data
*.txt
.clang-format
.DS_Store
*kernel_all.bin
.cache/*
trace.json

